<nav>
    <li class="options">
        <a class="button" href="/admin">Productos</a>
    </li>
    <li class="options">
        <a class="button" href="/admin/new">Crear Producto</a>
    </li>
    <form action="/admin/logout" method="POST" class="logout">
        <input class="button" type="submit" value="Salir">
    </form>
</nav>