<div class="main-cards">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title"><b>Productos creados</b> recientemente</p>
            <a href="#" class="card-header-action">Ver todos</a>
        </div>
        <ul class="card-products">
            <li class="card-product">
                <figure class="card-product-img">
                    <img src="/images/products/product1.jpg" alt="Producto 1">
                </figure>
                <p class="card-product-desc">Sujetador de marca</p>
            </li>
            <li class="card-product">
                <figure class="card-product-img">
                    <img src="/images/products/product2.jpg" alt="Producto 2">
                </figure>
                <p class="card-product-desc">Boxers de marca</p>
            </li>
            <li class="card-product">
                <figure class="card-product-img">
                    <img src="/images/products/product3.jpg" alt="Producto 3">
                </figure>
                <p class="card-product-desc">Sujetador de marca</p>
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            <p class="card-header-title"><b>Reservas</b> recientes</p>
            <a href="#" class="card-header-action">Ver todos</a>
        </div>
        <ul class="card-products">
            <li class="card-product">
                <figure class="card-product-img">
                    <img src="/images/products/product1.jpg" alt="Producto 1">
                </figure>
                <div class="card-product-details">
                    <p class="card-product-profile">Pedro Galbón</p>
                    <p class="card-product-desc card-product-reserve">Sujetador de marca</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            <p class="card-header-title"><b>Mensajes</b></p>
            <a href="#" class="card-header-action">Ver todos</a>
        </div>
        <ul class="card-messages">
            <li class="card-message">
                <p class="card-message-subject">¿Se puede reservar este artículo?</p>
                <p class="card-message-desc">Me ha gustado mucho un sujetador que tenéis expuesto en...</p>
                <p class="card-message-profile">Pedro Galbón</p>
            </li>
            <li class="card-message">
                <p class="card-message-subject">¿Se puede reservar este artículo?</p>
                <p class="card-message-desc">Me ha gustado mucho un sujetador que tenéis expuesto en...</p>
                <p class="card-message-profile">Pedro Galbón</p>
            </li>
        </ul>
    </div>

</div>