<nav>
    <ul class="menu-admin">
        <li class="products">
            <button class="products-button"><a href="/admin">Productos</a></button>
        </li>
    </ul>
</nav>

<form action="/admin/logout" method="POST" class="logout">
    <input type="submit" value="Logout">
</form>