<nav>
    <ul class="menu-admin">
        <li class="products">
        <button class="products-button">Productos</button>
        <div class="products-list">
            <a href="/admin/new">Crear</a>
            <a href="">Editar</a>
            <a href="">Borrar</a>
        </div>
      </li>
    </ul>
</nav>

<form action="/admin/logout" method="POST" class="logout">
    <input type="submit" value="Logout">
</form>