
<section>
    <nav>
        <form action="" method="GET" id="form">
            <div>
                <h4>Sexo</h4>
                <label><input type="checkbox" onclick="checkMan()" id="man">Caballero</label>
                <label><input type="checkbox" onclick="checkWoman()" id="woman">Señora</label>
                <label><input type="checkbox" onclick="checkUni()" id="unisex">Unisex</label>
            </div>
            <label><input type="button" onclick="makeUrl()" id="filter">Filtrar</label>
        </form>
        
    </nav>
</section>
<script>
    
    var woman = document.getElementById('woman');
    var unisex = document.getElementById('unisex');

    var filter = document.getElementById('filter');
    
    var urlBase = 'http://localhost:3000';
    
    var botones = {
        man: false,
        woman: false,
        unisex: false
    }

    function checkMan() {
        var man = document.getElementById('man');
        if (man.checked) {
            botones.man = true;
        } else {
            botones.man = false;
        }
    }
    
    function checkWoman() {
        var woman = document.getElementById('woman');
        if (woman.checked) {
            botones.woman = true;
        } else {
            botones.woman = false;
        }
    }

    function checkUni() {
        var unisex = document.getElementById('unisex');
        if (unisex.checked) {
            botones.unisex = true;
        } else {
            botones.unisex = false;
        }
    }

    function makeUrl() {
        let url = '/productos';
        if (botones.man){
            url += '/hombre'
        }

        if (botones.woman){
            url += '/mujer'
        }

        if (botones.unisex){
            url += '/unisex'
        }

        console.log(urlBase + url);
    }


</script>