<footer id="footer">
    <div>
        <p class="footer-direction">Calle Ezcurdia 71,<br>Gijón<br><br>
            <u>650 04 59 54</u></p>
    </div>
    <div class="rrss">
        <a href="https://www.instagram.com/modaintimo/" target="_blank">
            <i class="fab fa-instagram"></i></a><br>
        <a href="https://www.facebook.com/pg/Intimo-Moda-Interior-1636562006617362/about/?ref=page_internal"
            target="_blank">
            <i class="fab fa-facebook"></i></a>
    </div>
</footer>