<footer class="footer">
    <div class="footer-content" id="rrss">
        <h3 class="footer-title">Siguenos en:</h3>
        <div>
            <a href="https://www.instagram.com/modaintimo/" target="_blank">Instagram</a><br>
            <a href="https://www.facebook.com/pg/Intimo-Moda-Interior-1636562006617362/about/?ref=page_internal" target="_blank">Facebook</a>
        </div>
    </div>
    <div class="footer-content" id="address">
        <h3 class="footer-title">Encuentranos en:</h3>
        <div>
            Calle Ezcurdia, 71<br>
            Gijón<br>
            Tel.: 650 04 59 54
        </div>
    </div>
</footer>