<header class="header">
    <a href="/">
        <figure class="intimo-logo">
            <img src="/images/backgrounds/intimo-logo.jpg" alt="Logo Intimo">
        </figure>
    </a>
    <nav class="menu">
        <ul>
            <li class="women-products">
                <a href="/productos/mujer" class="products-btn">Mujer</a>
                <div class="products-content">
                    <a href="#">Lenceria</a>
                    <a href="#">Baño</a>
                    <a href="#">Cama</a>
                </div>
            </li>
            <li class="man-products">
                    <a href="/productos/hombre" class="products-btn">Hombre</a>
                    <div class="products-content">
                        <a href="#">Lenceria</a>
                        <a href="#">Baño</a>
                        <a href="#">Cama</a>
                    </div>
                </li>
                <li class="child-products">
                        <a href="/productos/ninos" class="products-btn">Niños</a>
                        <div class="products-content">
                            <a href="#">Lenceria</a>
                            <a href="#">Baño</a>
                            <a href="#">Cama</a>
                        </div>
                    </li>
                <li class="home-products">
                        <a href="/productos/casa" class="products-btn">Casa</a>
                        <div class="products-content">
                            <a href="#">Lenceria</a>
                            <a href="#">Baño</a>
                            <a href="#">Cama</a>
                        </div>
                    </li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header>
