<header>
    <a href="/" class="logo">
        <img class="logo-img" src="/images/backgrounds/logo.svg" alt="Logo">
    </a>

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>
    <ul class="menu">
        <li><a href="/products/all">Mujer</a></li>
        <li><a href="/products/all">Hombre</a></li>
        <li><a href="">Sobre nosotros</a></li>
        <li><a href="#contacto">Contacto</a></li>
    </ul>
</header>