<header class="header">
    <figure class="intimo-logo" href="/">
        <img src="/images/logo.jpg" alt="Logo Intimo">
    </figure>
    <nav class="menu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li class="products">
                <a href="/productos" class="products-btn">Productos</a>
                <div class="products-content">
                    <a href="#">Lenceria</a>
                    <a href="#">Baño</a>
                    <a href="#">Cama</a>
                </div>
            </li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header>
