<header class="header">
    <a href="/">
        <figure class="intimo-logo">
            <img src="/images/backgrounds/intimo-logo.jpg" alt="Logo Intimo">
        </figure>
    </a>
    <nav class="menu">
        <ul>
                <li class="child-products">
                    <a href="/productos" class="products-btn">Productos</a>
                </li>
            <li><a href="/#contacto">Contacto</a></li>
        </ul>
    </nav>
</header>
