<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700|Spectral:400,500&display=swap"
        rel="stylesheet">
    {{#if admin }}
    <link rel="stylesheet" href="/styles/admin/signin.css">
    <link rel="stylesheet" href="/styles/admin/dashboard-layout.css">
    {{#if newProduct }}
    <link rel="stylesheet" href="/styles/admin/new-product.css">
    {{/if}}
    {{else}}
    <link rel="stylesheet" href="/styles/signinup.css">
    <link rel="stylesheet" href="/styles/wisheslist.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/frontpage.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/styles/viewProduct.css">
    {{/if}}
    <title>{{ title }}</title>
</head>

<body>
    {{{ body }}}
    {{#if adminDashboard }}
    {{!-- Burger Menu Dashboard layout --}}
    <script src="/js/dashboard.js"></script>
    {{else}}
    {{!-- Sticky Header --}}
    <script src="/js/hideHeader.js"></script>
    {{/if}}
    {{!-- Font awesome --}}
    <script src="https://kit.fontawesome.com/e590404f5d.js"></script>
</body>

</html>