<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <title>
        <%= title %>
    </title>

    <meta charset="utf-8">
    <!--Meta Viewport para Responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/styles/admin.css">
</head>

<body>
    <nav>
    <ul class="menu-admin">
        <li class="products">
        <button class="products-button">Productos</button>
        <div class="products-list">
            <a href="/admin/new">Crear</a>
            <a href="">Editar</a>
            <a href="">Borrar</a>
        </div>
      </li>
    </ul>
</nav>

<button class="logout-button"><a class="logout" href="/admin/logout">Logout</a></button>