<% include partials/head.ejs %>

<section class="main-background">
    <nav class="menu-home">
            <ul>
                    <li class="women-products">
                        <a href="/productos/mujer" class="products-btn">Mujer</a>
                        <div class="products-content">
                            <a href="#">Lenceria</a>
                            <a href="#">Baño</a>
                            <a href="#">Cama</a>
                        </div>
                    </li>
                    <li class="man-products">
                        <a href="/productos/hombre" class="products-btn">Hombre</a>
                        <div class="products-content">
                            <a href="#">Lenceria</a>
                            <a href="#">Baño</a>
                            <a href="#">Cama</a>
                        </div>
                    </li>
                    <li class="child-products">
                        <a href="/productos/ninos" class="products-btn">Niños</a>
                        <div class="products-content">
                            <a href="#">Lenceria</a>
                            <a href="#">Baño</a>
                            <a href="#">Cama</a>
                        </div>
                    </li>
                    <li><a href="#contacto" class="contacto-home">Contacto</a></li>
            </ul>
    </nav>
    <h1 class="main-title">ÌNTIMO</h1>
    <h2 class="main-description">MODA INTERIOR</h2>

    <div id="arrowAnim">
        <div class="arrowSliding">
            <div class="arrow"></div>
        </div>
        <div class="arrowSliding delay1">
            <div class="arrow"></div>
        </div>
        <div class="arrowSliding delay2">
            <div class="arrow"></div>
        </div>
        <div class="arrowSliding delay3">
            <div class="arrow"></div>
        </div>
    </div>
</section>
<section class="first-section" id="contacto">
    <h3 class="title-first-section">Tienda lider en <span class="bold">Lencería</span> en <span class="bold">Gijón</span></h3>
    <div class="grid-first-section">
        <!--<iframe class="map" src="https://www.google.com/maps/d/embed?mid=10BgH65tDv5aEb5aZxBneBurB1NgWHCd9"
        width="640" height="480"></iframe>-->
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="800" height="500" class="gmap_canvas"
                    src="https://maps.google.com/maps?q=INTIMO%20-%20MODA%20INTERIOR&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
        </div>
        <p class="text-first-section">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel ligula quam. Ut sit amet nisi et neque fermentum
        molestie sed eget est. Sed suscipit iaculis purus quis mattis. Aenean odio ligula, suscipit non dapibus et, cursus
        sagittis tortor.<br/><br />
        Ut malesuada felis sed lorem lacinia, quis accumsan nulla molestie. Integer ac dignissim lorem. Aenean
        in sapien sed purus porttitor luctus.<br /><br />
        
        Praesent lorem ante, semper at sapien nec, vestibulum dignissim tortor. Quisque
        maximus sapien nec sapien sodales, vitae lacinia metus tempor.
        </p>
    </div>
</section>
<% include partials/footer.ejs %>