<% include partials/head.ejs %>
<% include partials/header.ejs %>

<h1>Productos Niños</h1>

<ul>
    <% for(let i=0; i < items.length; i++){ %>
        <li><%= items[i].name %></li>
    <% } %>
</ul>

<% include partials/footer.ejs%>