<% include partials/head.ejs %>
<% include partials/header.ejs %>
<% include partials/filter.ejs %>
<h1 class="section-title">Productos Hombre</h1>

<section class="products-content">
    <div class="grid-content">
        <% for(let i=0; i < items.length; i++){ %>
         <div class="grid-item">
             <%= items[i].name%>
         </div>
        <% } %>
    </div>
</section>

<% include partials/footer.ejs%>