{{> header }}

<section class="main-bg">
    <h1 class="slogan">Dale a tu cuerpo el cariño que necesita</h1>
    <button class="cta-btn">Comprar Lencería</button>
    <ul class="brands">
        <li><img src="/images/icons/ysabel-mora.png" alt="Logo Ysabel Mora"></li>
        <li><img src="/images/icons/blackspade-gray.png" alt="Logo Blackspade"></li>
        <li><img src="/images/icons/logo-gisela.png" alt="Logo Gisela"></li>
        <li><img src="/images/icons/Pepe-Jeans-Logo.svg" alt="Logo Pepe Jeans"></li>
        <li><img src="/images/icons/sans-complexe-logo.svg" alt="Logo Sans Complexe"></li>
    </ul>
    <figure class="hero">
        <img src="/images/icons/main-bg-photo.png" alt="Hero principal">
    </figure>
</section>

{{!-- {{#each items}}
            <a href="/products/view/{{ _id }}" class="product">
                <div>
                    <h3>{{ name }}</h3> <br>
                    <img src="{{ path }}" alt="{{ name }}" class="image">
                    <button>Ver más</button>
                </div>
            </a>
            {{/each}} --}}

{{!-- <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="300px" height="200px" class="gmap_canvas"
                    src="https://maps.google.com/maps?q=INTIMO%20-%20MODA%20INTERIOR&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div> --}}

{{!-- <p class="bg3-text">La ropa interior es súper importante: <b>por más que no sea lo primero que se ve, es lo
                primero que nos viste.</b><br><br>Para que te veas divina y los encantes sin sacarte la ropa, una experta nos da
            algunas pistas.<br><br>¡Déjalos sin
            aliento y <b>siéntete bien a través de cada detalle que te acompaña!</b></p> --}}

{{!-- <ul class="proofs">
            <li>
                <img src="/images/profile-1.jpg" alt="Profile 1">
                <q>El ambiente y la atención de los dependientes es increíble. Nada que ver con el resto de tiendas</q>
            </li>
            <li>
                <img src="/images/profile-2.jpeg" alt="Profile 2">
                <q>Me siento muy agusto desde que entro a la tienda.</q>
            </li>
            <li>
                <img src="/images/profile-3.jpeg" alt="Profile 3">
                <q>Amo la tela de los boxers, son lo más cómodo que he probado nunca</q>
            </li>
        </ul> --}}
{{> footer}}