{{> header }}

<main class="wrapper" id="contacto">
    <section class="section parallax bg1">
        <p class="slogan">Nunca olvides que <strong>lo mejor está en lo que no vemos</strong></p>
    </section>
    <section class="section static static1">
        <h2>Prueba tu moda más personal</h2>
        <p class="storytelling"> Sabemos que encontrar lencería con la que te sientas agusto no es sencillo.<br><br>
        Nosotros también hemos pasado <b>vergüenza por preguntar por una prenda de lencería</b><br><br>
        Por eso, te invitamos a que visites Ìntimo donde <b>los complejos por tu moda privada se han acabado</b><br><br>
    </section>
    <section class="section parallax bg2 static2">
        <div class="bg2-container">
            {{#each items}}
            <a href="/products/view/{{ _id }}" class="product">
                <div>
                    <h3>{{ name }}</h3> <br>
                    <img src="{{ path }}" alt="{{ name }}" class="image">
                    <button>Ver más</button>
                </div>
            </a>
            {{/each}}
        </div> 
    </section>
    <section class="section static static3">
        <h3 class="leader-shop">Tienda lider en <strong>Lencería</strong> de <strong>Gijón</strong></h3>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="300px" height="200px" class="gmap_canvas"
                    src="https://maps.google.com/maps?q=INTIMO%20-%20MODA%20INTERIOR&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </section>
    <section class="section parallax bg3">
        <p class="bg3-text">La ropa interior es súper importante: <b>por más que no sea lo primero que se ve, es lo
                primero que nos viste.</b><br><br>Para que te veas divina y los encantes sin sacarte la ropa, una experta nos da
            algunas pistas.<br><br>¡Déjalos sin
            aliento y <b>siéntete bien a través de cada detalle que te acompaña!</b></p>
    </section>
    <section class="section static">
        <ul class="proofs-flex">
            <li>
                <img src="/images/profile-1.jpg" alt="Profile 1">
                <q>El ambiente y la atención de los dependientes es increíble. Nada que ver con el resto de tiendas</q>
            </li>
            <li>
                <img src="/images/profile-2.jpeg" alt="Profile 2">
                <q>Me siento muy agusto desde que entro a la tienda.</q>
            </li>
            <li>
                <img src="/images/profile-3.jpeg" alt="Profile 3">
                <q>Amo la tela de los boxers, son lo más cómodo que he probado nunca</q>
            </li>
        </ul>
    </section>
</section>
{{> footer}}