{{> header}}
<section>
    <div class="grid-content">
        {{#each items}}
         <a href="/products/view/{{ _id }}" class="product">
            <div class="grid-item">
                <h3>{{ name }}</h3> <br>
               <img src="{{ path }}" alt="{{ name }}" class="image">
            </div>
        </a>
        {{/each}}
    </div>
</section>
{{> footer}}