{{> header}}
<section>
    <div class="products-container">
        {{#each items}}
        <a href="/products/view/{{ _id }}" class="products">
            <h3>{{ name }}</h3> <br>
            <img src="{{ path }}" alt="{{ name }}">
        </a>
        {{/each}}
    </div>
</section>
{{> footer}}