{{> header }}
    <div class="wish-container">
        <h1>Hola Fernanda, tu lista de deseos...</h1>
        <ul id="wishlist">
            <li class="wish">
                <figure>
                    <img src="" alt="">
                </figure>
                <a class="wish-name" href="">Sujetador</a>
                <p class="wish-desc">Bueno</p>
                <p class="wish-price">20€</p>
            </li>
        </ul>
    </div>
{{> footer}}