body {
    background-color: #1F3B50;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    max-width: 100%;
}

.menu-admin {
    margin: 2em;
    padding: 0;
    max-width: 100%;
    list-style: none;
    display: inline-block;
}

.menu-admin li {
    width: 150px;
    display: inline-block;
}

.products-button {
    width: inherit;
    border: 1px solid black;
    padding: 1em;
    font-size: 16px;
    background: black;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.products-list {
    display: none;
    width: inherit;
}

.products-list a {
    font-family: "Lato", sans-serif;
    background: black;
    color: white;
    text-decoration: none;
    padding: 0 0 1em 0;
    width: inherit;
    text-align: center;
}

.products-list a:hover {
    color: orange;
}

.menu-admin .products:hover .products-list {
    display: flex;
    flex-direction: column;
}

.logout {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em;
}

.logout input {
    font-family: "Lato", sans-serif;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 1em;
    padding: .5em .3em;
    background-color: white;
    color: black;
    width: 100px;
    cursor: pointer;
}