#arrowAnim {
  width: 1vw;
  height: 1vh;
  position: absolute;
  left: 48%;
  bottom: 10%;
}

.arrow {
  width: 1vw;
  height: 1vw;
  border: 0.5vw solid;
  border-color: white transparent transparent white;
  transform: rotate(-135deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite; 
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateY(-5.3vh); }	
   20% { opacity:1; transform: translateY(-4.5vh); }	
   80% { opacity:1; transform: translateY(4.5vh); }	
  100% { opacity:0; transform: translateY(5.3vh); }	
}
@keyframes slide {
    0% { opacity:0; transform: translateY(-5.3vh); }	
   20% { opacity:1; transform: translateY(-4.5vh); }	
   80% { opacity:1; transform: translateY(4.5vh); }	
  100% { opacity:0; transform: translateY(5.3vh); }	
}

.contacto-home::before{
    content: url(../images/location-point.svg) ' ';
}