footer {
    position: relative;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background: #1D1D1D;
    color: white;
    display: flex;
    justify-content: row;
}

.footer-content {
    float: left;
    background: inherit;
    text-align: center;
    width: 50%;
    padding: 2.5em 1em;
}

.footer-direction {
    font-size: 1.2em;
    margin: 0;
}

.rrss {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-instagram {
    margin-right: .75em;
}

.fa-instagram,
.fa-facebook {
    font-size: 3em;
}

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}