:root {
    --header-bg-color: rgb(29, 29, 29);
    --header-ul-bg-color: rgb(29,29,29);
    --menu-btn-hover: rgb(34, 34, 34);
    --navicon: #f4f4f4;
    --menu-li-a: #f4f4f4;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
}

/* header */

header {
    background-color: var(--header-bg-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--header-ul-bg-color);
}

header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid var(--menu-btn-hover);
    text-decoration: none;
}

header li a:hover,
header .menu-btn:hover {
    background-color: var(--menu-btn-hover);
}

/* Logo */
header .logo {
    display: block;
    float: left;
    padding: 10px 20px 10px 40px;
}

header .logo-img {
    height: 36px;
    width: auto;
}

/* menu */

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .menu a {
    color: var(--menu-li-a);
}

/* menu icon */

header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

header .menu-icon .navicon {
    background: var(--navicon);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 26px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
    background: var(--navicon);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

header .menu-icon .navicon:before {
    top: 7px;
}

header .menu-icon .navicon:after {
    top: -7px;
}

/* menu btn */

header .menu-btn {
    display: none;
}

header .menu-btn:checked~.menu {
    max-height: 240px;
}

header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 768px) {
    header li {
        float: left;
    }

    header li a {
        padding: 20px 30px;
    }

    header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    header .menu-icon {
        display: none;
    }
}


/* <i class="fas fa-bars"></i> */

@media screen and (max-width: 480px) {

}