:root {
    --snd-section-bg: #1d1d1dfd;
    --dark-section-font-color: #dddddd;
}

.wrapper {
    padding-top: 3.7em;
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    position: relative;
    height: 100vh;
}

.parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: cover;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
}

.static {
    height: 60vh;
    background: var(--snd-section-bg);
    color: var(--dark-section-font-color);
    padding: 1em 2em;
}

.bg1 {
    display: flex;
    align-items: center;
}

.bg1::after {
    background-image: url("/images/backgrounds/bg-1.jpg");
}

.slogan {
    padding: 10px 30px;
    text-align: center;
    font-size: 3.5em;
    color: white;
    height: 400px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
}

.static1 {
    height: 70vh;
}

.static1 h2 {
    font-size: 2.5em;
    text-align: center;
    font-weight: 100;

}

.static .storytelling {
    font-size: 1.3em;
}

.bg2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg2-container {
    display: flex;
    justify-content: row;
    overflow: auto;
    margin: 0 2em;
}

.bg2-container a {
    background-color: #f2f3f5;
    color: black;
    text-decoration: none;
    border-radius: 2%;
}

.bg2-container div {
    text-align: center;
    height: auto;
    
}

.bg2-container h3 {
    font-size: 1.5em;
    margin: .5em 0 0 0;
    display: block;
}

.bg2-container img {
    border-radius: 3%;
    margin: 1em .5em;
    height: 150px;
    width: 150px;
    margin: 10px;
    display: block;
}

.bg2-container button {
    border-radius: 10%;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    background: inherit;
    display: block;
    border: 1px solid black;
    margin: auto;
}

.bg2::after {
    background-image: url("/images/backgrounds/bg-2.jpg");
}


.leader-shop {
    font-weight: 100;
    text-align: center;
    margin: 1em 0;
    font-size: 2.5em;
    color: white;
}

.mapouter {
    width: 300px;
    height: 200px;
    margin: auto;
    padding: 1em 0;
    border: none;
    display: flex;
    justify-self: center;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 300px;
    height: 200px;
    border-radius: 2em;
}

.bg3::after {
    background-image: url("/images/backgrounds/bg-3.jpg");
}

.bg3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg3-text {
    background: #ffffffd3;
    width: 60%;
    font-size: 1.5em;
    color: black;
    font-weight: 100;
    padding: 1em;
}

.proofs-flex {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proofs-flex li:nth-child(odd) {
    padding-right: 1em;
}

.proofs-flex li{
    width: 7em;
    padding: 0 0 1.5em 0;
}

.proofs-flex img{
    display: block;
    margin: auto;
    text-align: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.proofs-flex q {
    display: block;
    margin-top: .8em;
    font-size: .9em;
    color: white;
    text-align: center;
}