.bold {
    font-weight: 700;
}

.first-section {
    max-width: 100%;
    position: relative;
}

.title-first-section {
    font-weight: 100;
    text-align: center;
    padding-top: 2.2em;
    margin: 0;
    font-size: 2.5em;
    color: black;
}

.grid-first-section {
    max-width: 100%;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-column-gap: 2em; */
}

/*.map {
    margin: 3em 0 0 10em;
    border: none;
}*/

.mapouter {
    width: 300px;
    height: 200px;
    margin: auto;
    padding: 1em 0;
    border: none;
    display: flex;
    justify-self: center;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 300px;
    height: 200px;
    border-radius: 2em;
}

.text-first-section {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding: 2em 1em;
    margin: auto;
}

/* @media screen and (max-width:2000px) {
    .grid-first-section {
        padding: 0 3em;
        margin-top: 3em;
    }
}

@media screen and (max-width:1024px) {
    .main-title {
        padding-top: 1em;
        font-size: 15em;
        height: 270px;
    }
    .main-title::before {
        right: .4em;
        top: 1.18em;
    }
    .main-description {
        font-size: 4.5em;
    }
    .mapouter {
        width: 500px;
    }
    .gmap_canvas {
        width: 500px;
    }
}

@media screen and (max-width:768px) {
    .main-title {
        padding-top: 1.2em;
        font-size: 12em;
        height: 210px;
    }
    .main-title::before {
        right: .26em;
        top: 1.35em;
        height: 6px;
    }
    .main-description {
        font-size: 4em;
    }
    .grid-first-section {
        grid-column-gap: 1em;
        padding: 0 3%;
    }
    .mapouter {
        width: 370px;
    }
    .gmap_canvas {
        width: 370px;
    }
    .text-first-section {
        font-size: 1.2em;
    }
}

@media screen and (max-width:480px) {
    .menu-home ul {
        padding: 0;
    }
    .menu-home li {
        margin: .6em 0;
    }
    .products-btn {
        font-size: 1.5em;
    }
    .main-title {
        padding-top: 2.1em;
        font-size: 5.8em;
        height: 150px;
    }
    .main-title::before {
        right: .2em;
        top: 2.25em;
        height: 3.5px;
    }
    .main-description {
        font-size: 2.5em;
    }
    .grid-first-section {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .title-first-section {
        font-size: 1.85em;
    }
    .mapouter {
        width: 330px;
        height: 300px;
    }
    .gmap_canvas {
        width: 330px;
        height: 300px;
    }
    .text-first-section {
        margin: 1.5em 0;
        padding: 0 1em;
        font-size: 1.1em;
    }
}

@media screen and (max-width:320px) {
    .menu-home ul {
        padding: 0;
    }
    .menu-home li {
        margin: .5em 0;
    }
    .products-btn {
        font-size: 1.3em;
    }
    .main-title {
        padding-top: 2.6em;
        font-size: 5em;
        height: 90px;
    }
    .main-title::before {
        right: .25em;
        top: 2.75em;
        height: 3px;
    }
    .main-description {
        font-size: 1.9em;
    }
    .grid-first-section {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin-top: 1em;
    }
    .mapouter {
        width: 300px;
        height: 200px;
    }
    .gmap_canvas {
        width: 300px;
        height: 200px;
    }
    .text-first-section {
        margin: 1.5em 0;
        padding: 0 1em;
        font-size: 1em;
    }
} */