/* SIGN IN & SIGN UP - USER */

:root {
    --bg-color: rgb(40, 42, 71);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signin-container {
    background-color: var(--bg-color);
    max-width: 100%;
    padding: 8.16em 0;
}

.login-title {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    padding: 2em 0 .2em 0;
    text-transform: uppercase;
}

.form-container {
    background-color: white;
    border: 1px solid #ECE8E8;
    margin: auto;
    /*Center box*/
    width: 24rem;
    border-radius: .5em;
    padding: 1em .5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.form-icon {
    margin-bottom: 4em;
}

.form-container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-container .input-box:first-child,
.form-container .input-box:nth-child(2) {
    margin-bottom: 1.5em;
}

.input-box span {
    border-radius: .5em;
    padding: .5em 0;
}

.input-box input {
    width: 80%;
    border-radius: .5em;
    border: none;
    padding: .5em 0 .5em 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    background-color: #F4F5F7;
    outline: none;
}

.input-box input:nth-child(1),
.input-box input:nth-child(3) {
    margin: .5em 0 0 1.5em;
}

.btn-form {
    margin: 2em auto 1em auto;
    width: 90%;
    padding: .5em 0;
    border-radius: .5em;
    background-color: #01CD6A;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.return-home-opt a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: blue;
}

@media screen and (max-width: 480px) {
    .form-container {
        width: 20rem;
    }
}