.view-product {
    display: grid;
    margin-top: 64px;
    padding-top: 2em;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--section-margin-btm);
}

.select-product {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.select-product>img {
    width: 3rem;
    object-fit: contain;
}

.selected-product {
    border: 3px solid #7A9DFF;
    padding: 5px;
}

.main-product {
    width: 15rem;
}

.main-product>img {
    width: 100%;
}

.product-details {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.product-details h3 {
    text-transform: capitalize;
    color: #1B1B56;
    font-size: 2rem;
    margin-bottom: 0.3em;
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.onsale {
    background: #006EFF;
    font-weight: 700;
    color: #FFF;
    font-size: 0.8em;
    padding: 0.3em;
    margin-left: 1.5em;
}

.current-price {
    color: #666;
    font-size: 1em;
    font-weight: 700;
    margin: 0 0.4em 0 0.8em;
}

.prev-price {
    color: #666;
    font-size: 0.9em;
    font-weight: 700;
    position: relative;
    top: -0.2em;
    text-decoration: line-through
}

.product-details hr {
    border: 1px solid rgb(240, 240, 240);
    margin: 2.5em 0 1em 0;
}

.product-options-form {
    display: flex;
    flex-direction: column;
}

.size {
    text-transform: uppercase;
    font-size: 1em;
}

.size-selector {
    width: 70%;
    padding: 0.5em 1em;
    color: #333333;
    font-size: 1em;
    background: #F4F4F4;
    margin: auto;
    outline: none;
    border: none;
}

.size-status {
    margin: 1em 0 2em 0;
}

.product-details-btn {
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0.6em 1em;
    margin-bottom: 1em;
    outline: none;
    transition: transform 0.6s ease-in-out;
    transition: background 0.4s ease-in-out;
    cursor: pointer;
}

.add-to-whishes {
    color: #006EFF;
    background: transparent;
    border: 1px solid #006EFF;
}

.add-to-whishes:hover {
    background: rgb(216, 236, 255);
}

.add-to-whishes:active {
    transform: scale(0.9);
}

.reserve {
    color: #FFF;
    background: #006EFF;
    border: none;
}

.reserve:hover {
    background: rgb(50, 139, 255);
}

.reserve:active {
    transform: scale(0.9);
}

@media screen and (max-width: 768px) {
    .product-details h3 {
        font-size: 1.7rem;
    }

    .main-product {
        width: 12rem;
        margin: auto;
    }
}