body {
    background-color: #1F3B50;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    max-width: 100%;
}

nav {
    height: 50px;
}

.products-button {
    width: inherit;
    border: 1px solid black;
    padding: 1em;
    font-size: 16px;
    background: black;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.products-list {
    margin: auto;
    display: block;
    width: 90%;
}
.product {
    width: 30%;
    background: #d9d9d9;
    display: inline-flex;
    border-radius: 10px;
    height: 120px;
    padding: 10px;
}

.product img {
    width: 20%;
    height: auto;
    border-radius: 10px;
}

.logout {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em;
}

.button {
    margin: 10px;
    font-family: "Lato", sans-serif;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 1em;
    padding: .5em .3em;
    background-color: white;
    color: black;
    width: 100px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}
